blockquote {
  margin: 1.5rem 0;
  position: relative;
  font-style: italic;
}

blockquote p {
  margin-bottom: 1.5rem;
}

blockquote footer {
  margin-top: 1.5rem;
  text-align: right;
  font-weight: bold;
}
