// ------------------------------
// READ MORE
// ------------------------------

.read-more {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1.2em;
    padding-bottom: 1em;
    border-top: 1px solid #DDDDDD;

    .read-more-header,
    .read-more-summary,
    .read-more-meta {
      display: flex;
      width: 100%;
      flex-basis: 40%;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: justify;
      justify-content: space-between;
    }

    .read-more-item {
      max-width: 40%;
    }

    .read-more-header, .read-more-meta {
      .read-more-item:first-child {
        text-align: left;
      }

      .read-more-item:last-child {
        text-align: right;
      }
    }

    .read-more-item-dim {
      color: $hover-color;
      font-size: .8em;
      margin-bottom: 0; /* 去掉底部 margin */
    }
}