<hr class="post-list__divider " />
{{ $paginator := where .Site.RegularPages "Params.hidden" "!=" "true" | .Paginate }}

<nav class="pagination" role="navigation">
    {{if ($paginator.HasPrev)}}
        <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="{{ $paginator.Prev.URL }}">&larr; 最近</a>
    {{end}}
    <span class="pagination__page-number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
    {{ if $paginator.HasNext }}
        <a class="older-posts pagination__older btn btn-small btn-tertiary" href="{{ $paginator.Next.URL }}">更早 &rarr;</a>
    {{end}}
</nav>
